
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.horizItem {
  display: inline-block; 
  margin-left: 3%; 
  margin-right: 3%;
}

.hiddenlink{
  text-decoration: none!important; /* No underline by default */
  color: inherit; /* Inherit the text color */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effects */
}
.hiddenlink:hover{
  text-decoration: underline; /* Add underline on hover */
  color: #007acc; /* Change color on hover (adjust as needed) */
}

.mylink {
  color: #228B22;          /* default link color */
  text-decoration: none!important; /* remove underline */
}

.mylink:hover {
  text-decoration: underline!important; /* add underline only on hover */
}
.mylink:visited{
  color:#2AA198
}

.mybutton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 5px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 10.5px;
  line-height: 18px;
  padding: 0 10px 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none!important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: fit-content;
}

.mybutton:hover {
  text-decoration: underline!important;
  background-color: #f7fafa;
}

.mybutton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.grey-box {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}


.teaserbutton {
  height: 80px; /* Default height for larger screens */
  width: auto; /* Maintain aspect ratio */
}


.globaldiv {
  font-size: 16px;
  max-width: 1200px; /* Set a maximum width to make the page wider */
  margin: 0 auto;    /* Center the content horizontally */
  padding: 20px;     /* Add some inner spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
}


.image-row {
    height: auto;
    display: flex;
    justify-content: space-around; /* even spacing */
    align-items: flex-start;        /* keep top edges aligned */
    flex-direction: row;
    flex-wrap: nowrap;
    /* border-top: 100px;
    border-bottom: 100px; */
    gap: 30px;                      /* optional extra space */
}

figure {
  flex: 1 1 0;
  margin: 0;
  text-align: center;
}

figcaption {
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    color: #e71818;
}


/* Media query for tablets */
@media (max-width: 768px) {
  .teaserbutton {
      height: 60px; /* Smaller height for tablets */
  }
.media-flex-container {
      flex-basis: 100%;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .teaserbutton {
      height: 40px; /* Even smaller height for mobile devices */
  }
.media-flex-container {
      flex-basis: 100%;
  }
}

.globaldiv {
  font-size: 16px; 
  margin-left: -25%;
}

@media screen and (max-width: 768px) {
  
  .grey-box {
      max-width: 100%;
  }

  .cite-box {
      max-width: 100%;
  }    

  .vidcontainer {
      max-width: 100%;
  }

  .caption {
      max-width: 100%;
  }

  .globaldiv {
      max-width: 100%;
      margin-left: 0%;
  }
}